.timeline-event {
  display: grid;
  grid-template: 2rem auto 2rem / 1fr 1fr;
  padding: 1rem;
  border-bottom: 5px solid rgba(249, 177, 89, 0.913);
  background-color: #FFF;
  min-height: 200px;
  
}

.timeline-event:hover {
  background-color: #F5F8FA;
}

.event-person {
  grid-area: 1 / 1 / span 1 / span 1;
  margin-top: 0.5rem;
  font-weight: bolder;
}

.event-status {
  margin-top: 60px;
  grid-area: 2 / 1 / span 1 / -1;
}

.event-time {
  grid-area: 1 / 2 / span 1 / span 1;
  margin-top: 0.5rem;
  text-align: right;
}

.status-interactions {
  padding-top: 10px;
  border-top: 1px solid grey;
  grid-area: 3 / 1 / span 1 / span 2;
  display: inline;
  text-align: right;

}

.status-interactions a {
  padding: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: tomato;
}

.avatar {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50px;
  margin: auto 10px auto auto;
  float: left;
}
