.timeline {
  list-style-type: none;
  width: 30%;
  margin: auto;
  /* text-align: left; */
  /* background-color: blueviolet; */
  background-color: #f8f8f8;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  /* width: 110px; */
  text-align: center;
  padding: 20px;
  /* position: absolute; */

  overflow-wrap: break-word;
}

.name {
  text-align: left;
  font-weight: bold;

  /* float: left; */
}

.time {
  margin: auto;
  float: right;
  text-align: right;
}