.App-header, footer {
  background-color: rgb(57, 56, 56);
  color:white
}

.App-header {
  padding-bottom: 0.5rem;
  height: 100px;
  display: inline-block;
  /* position: fixed; */
  width: 100%;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
}

.App-main {
  padding-top: 7rem;
  background-color: rgba(249, 177, 89, 0.913);
}

img {
  max-width: 150px;
  border: white solid 3px;
  border-radius: 50%;
  margin: 20px 0px 0px 100px;
  float: left;
  
  
}

footer {
  padding: 10px;
}
